body {
  align-items: center;
  background: #222222;
  color: #222;
  display: flex;
  font-family: "Work Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 90vh;
  justify-content: center;
  line-height: 34px;
}

img {
  max-width: 600px;
  width: 66%;
}
